body { background: #53def6; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 33px; display: flex; }
.block-cache-0 { color: #ead757; font-size: 18px; margin-bottom: 5px; }
.block-logger-1 { color: #31739b; font-size: 16px; margin-bottom: 5px; }
.block-cart-2 { color: #20ac30; font-size: 19px; margin-bottom: 5px; }
.block-database-3 { color: #ff93a1; font-size: 16px; margin-bottom: 5px; }
.block-logger-4 { color: #a8eac0; font-size: 20px; margin-bottom: 5px; }